{% extends "../layouts/main_layout.html" %}
{% load staticfiles %}

{% block stylesheet %}
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/auth/register.css' %}">
{% endblock %}

{% block content %}

<h1>This stuff works...</h1>
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Filter ideas</h5>
            <form class="form-signin" method="post" action="{% url 'ideaApp:getFilteredIdeas' %}">
              {% csrf_token %}

              <div class="form-label-group">
              	<span>{{request.GET.error}}</span>
              </div>
              <div class="form-label-group">
                <input type="email" id="keyword" name="username" class="form-control" placeholder="">
                <label for="keyword">Keyword</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){

    /* toggle password visibility */
    if('{{error}}'){
    	console.log('Yes');
    }
    else{
    	console.log('No');
    }
  });
</script>
{% endblock %}