{% extends "../layouts/main_layout.html" %}
{% load staticfiles %}

{% block stylesheet %}
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        body {
            background-image: url("../../static/assets/auth_background.jpg");
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
{% for message in messages %}
    <div id="success-alert" class="alert alert-{{ message.tags }} fade-in alert-dismissible text-center">{{ message }}</div>
{% endfor %}
    <div class="container div-main-content">
        {% for idea in ideas %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
            {% endif %}

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-center">{{ idea.title }}</h5>
                                <div style="margin-bottom: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                    {{ idea.idea }}</div>
                            </div>
                            <div class="row">
                            <a class="btn btn-light btn-primary btn-block"
                               href="{% url 'ideaApp:getIdeaById' idea.id %}">
                                View idea</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            {% elif forloop.last %}</div> 
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
     });
</script>

{% endblock %}