{% extends "../layouts/main_layout.html" %}
{% load staticfiles %}

{% block stylesheet %}
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
    <!-- Loading one more time..... -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.4.1.min.css' %}">
{% endblock %}

{% block headerextra %}
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <div class="card-title text-center" style="font-weight: normal; margin-bottom: 10px;">{{ idea.title }}</div>
              <div style="margin-bottom: 14px;">{{ idea.idea }}</div>
              <table>
                  <tr>
                  <td style="padding-right: 152px; color: darkblue;">Active:</td>
                    <td>{{ idea.is_active }}</td>
              </tr>
              <tr>
                <td style="color: darkblue;">Date created:</td>
                <td>{{ idea.meta_created_at }}</td>
              </tr>
              <tr>
                <td style="color: darkblue;">Last updated:</td>
                <td>{{ idea.meta_last_updated_at }}</td>
              </tr>
            </table>
              {% if ownsIdea %}
              <div style="margin-top: 15px;">
                {% if campaignId == -1 %}
                  <a class="btn btn-light btn-primary btn-block"
                    href="{% url 'campaignApp:postCampaign' %}?idea={{ idea.id }}">
                    Kickstart Campaign
                  </a>
                {% else %}
                  <a class="btn btn-light btn-primary btn-block"
                    href="{% url 'campaignApp:getCampaignById' campaignId %}">
                    View Campaign
                  </a>
                {% endif %}
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){

    /* toggle password visibility */
    if('{{error}}'){
    	console.log('Yes');
    }
    else{
    	console.log('No');
    }
  });
</script>
{% endblock %}